

div.container.full-width
  .row
    div.col-md-4
      a.btn.btn-default(back-button ng-hide="isFavouriteCtrl")
        i.glyphicon.glyphicon-arrow-left.back-icon
    div.col-md-8.seccion-title  {{title}}
